


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.box {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

span {
    text-decoration: underline;
    color: #ff6347; /* Tomato color */
}


.password {
    border: 2px solid #ddd;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.pass {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 20px;
    color: #333;
}


.btn-copy {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-copy:hover {
    background-color: #ff7f50; 
}


.pass-range {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.range-input {
    width: 100%;
    height: 8px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}

.box-include {
    margin-top: 20px;
}

.box1 {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}


.select-all {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.select-all:hover {
    background-color: #1e90ff;
}


.btn-sp {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: green;
    color: white;
    border: none;
    padding: 12px 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3cb371; 
}


@media (max-width: 768px) {
    .box {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }

    .btn {
        padding: 10px 40px;
    }

    .btn-copy, .select-all {
        padding: 6px 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .btn {
        padding: 8px 30px;
    }

    .btn-copy, .select-all {
        padding: 5px 8px;
    }
}
